.outerWrapper {
  background-color: var(--color-beige-100);
  height: 100%;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 3.2rem 4rem 3.2rem 4rem;
}

.title {
  font-size: var(--size-preset-1);
  color: var(--color-grey-900);
}

.overviewDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  width: 100%;
}
