/* .wrapper {
  display: grid;
  grid-template-columns: 55% 45%;
  column-gap: 2.4rem;
  row-gap: 2.4rem;
} */

.flexWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 2.4rem;

  max-height: fit-content;
}

.leftCol {
  display: flex;
  flex-direction: column;
  flex-basis: 55%;
  gap: 2.4rem;
}

.rightCol {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  gap: 2.4rem;
}
