.innerWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.titleFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: var(--size-preset-2);
  color: var(--color-grey-900);
}

.graphFlex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3.1rem 0;
}

.budgetWrapper,
.budgetFlex {
  display: flex;
  flex-direction: column;
}

.budgetWrapper {
  gap: 1.6rem;
}

.budgetTitle {
  font-size: var(--size-preset-5);
  color: var(--color-grey-500);
}

.budgetAmount {
  font-size: var(--size-preset-4);
  color: var(--color-grey-900);
  font-weight: bold;
}

.budgetFlex {
  position: relative;
  gap: 0.5rem;
}

.budgetFlex::after {
  content: "";
  height: 100%;
  width: 5%;
  position: absolute;
  top: 0;
  left: -20%;
  background-color: var(--budget-theme);
  border-radius: 8px;
}
